<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.DemoLogin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>com.DemoLogin.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>com.DemoLogin.SessionTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSession</servlet-name>
        <servlet-class>com.DemoLogin.DeleteSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>com.DemoLogin.HelloForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accueil</servlet-name>
        <servlet-class>com.DemoLogin.accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.DemoLogin.Accueil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSession</servlet-name>
        <url-pattern>/DeleteSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
